body {
    background-color: black;
    color: white;
    font-family: "VT323", monospace;
    font-size: 1.5rem;
    padding: 3rem;
    user-select: none;
}

@keyframes type {
    100% {
        width: 100%;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
}

body div {
    animation: type 1s steps(60, end) forwards;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

body div a {
    color: white;
    text-decoration: none;
}

body div:nth-of-type(2) {
    animation-delay: 1s;
}

body div:nth-of-type(2)::after {
    animation: blink 1s steps(2, jump-none) 4;
    background-color: white;
    content: "";
    display: inline-block;
    height: .3rem;
    opacity: 0;
    vertical-align: text-bottom;
    width: 1rem;
}

body div:nth-of-type(3) {
    animation: type 1s step-start 4s forwards;
}

body div:nth-of-type(4) {
    animation: type 1s step-start 4.5s forwards;
}

body div:nth-of-type(5) {
    animation: type 1s step-start 5s forwards;
}

.err-text {
    color: red;
    white-space: normal;
}

.err-text::before {
    content: "[ERROR] ";
}
