@import url(fonts/HYXuanSong/font.css);
@import url("fonts/Book Antiqua/font.css");
@import url(animation.css);

.dream {
    height: 300vh;
    overflow: visible;
}

.dream .view {
    height: 100vh;
    position: sticky;
    top: 0;
}

.dream figure {
    margin: 0;
    opacity: 0;
    position: relative;
    top: 1rem;
    transition: opacity 1s ease 1.2s;
}

.dream .view.animate figure {
    opacity: 1;
}

.dream figure > img {
    height: calc(100vh - 26rem);
    left: 0;
    object-fit: contain;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: calc(100vw - 50rem);
}

.dream figure {
    height: calc(100vh - 20rem * (1 - var(--progress)));
    width: calc(100vw - 22rem - 33rem * (1 - var(--progress)));
}

.dream figure > img.back {
    left: calc(var(--cursor-range) * var(--cursor-h, 0));
    top: calc(var(--cursor-range) * var(--cursor-v, 0));
}

.dream figure > img.middle {
    left: calc(10vw * var(--progress) + var(--cursor-range) * var(--cursor-h, 0) * -1);
    top: calc(12vh * var(--progress) + var(--cursor-range) * var(--cursor-v, 0) * -1);
}

.dream figure > img.front {
    left: calc(30vw * var(--progress) + var(--cursor-range) * var(--cursor-h, 0) * 2);
    top: calc(30vh * var(--progress) + var(--cursor-range) * var(--cursor-v, 0) * 2);
}

.dream h1 {
    margin: 0;
    position: absolute;
    z-index: 1;
}

.dream h1.p1 {
    bottom: calc(12rem + 8rem * var(--progress));
    font-family: "Book Antiqua", serif;
    font-size: 5rem;
    font-weight: 400;
    left: calc(26rem - 8rem * var(--progress));
}

.dream h1.p1::after {
    background-color: yellow;
    bottom: .5rem;
    content: "";
    height: 2rem;
    left: 7.5rem;
    position: absolute;
    width: calc(12rem * var(--progress));
    z-index: -1;
}

.dream h1.p2 {
    color: rgb(0 0 0 / .25);
    font-family: "Cactus Classical Serif", serif;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1;
    opacity: calc(1 * var(--progress));
    right: -8rem;
    top: -3rem;
}

.dream article {
    font-family: "汉仪玄宋 35S", serif;
    font-size: 1rem;
    position: absolute;
}

.dream article:nth-of-type(1) {
    overflow: hidden;
    right: 0;
    top: 0;
    width: calc(30rem - 4rem * var(--progress));
}

.dream article:nth-of-type(1) div::after {
    background-color: white;
    content: "";
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform 1s ease 1.2s;
    width: 100%;
}

.dream .view.animate article:nth-of-type(1) div::after {
    transform: translateX(0);
}

.dream article:nth-of-type(2) {
    bottom: 6rem;
    opacity: calc(1 - var(--progress));
    overflow: hidden;
}

.dream article:nth-of-type(2) div::after {
    background-color: white;
    content: "";
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform 1s ease 1.2s;
    width: 100%;
}

.dream .view.animate article:nth-of-type(2) div::after {
    transform: translateX(0);
}

.dream article:nth-of-type(3) {
    bottom: 5rem;
    opacity: var(--progress);
}

.dream article > div {
    margin: 1.5rem 0;
}

.dream article.vertical > div {
    margin-right: 3rem;
}

.dream article p {
    margin: 0;
}

.dream article span.alt {
    display: none;
}

.dream .compressed > p:nth-of-type(1) {
    line-height: calc(1.3 - 1.1 * var(--progress));
}

.dream .compressed > p:nth-of-type(2) {
    line-height: calc(1.3 - 0.8 * var(--progress));
}

.dream .compressed > p:nth-of-type(3) {
    line-height: calc(1.3 - 0.5 * var(--progress));
}

.dream .compressed > p:nth-of-type(4) {
    line-height: calc(1.3 - 0.2 * var(--progress));
}

.dream .vertical {
    writing-mode: vertical-rl;
}
