@import url(fonts/Redaction/font.css);
@import url(fonts/HYXuanSong/font.css);
@import url(nav.css);
@import url(title.css);
@import url(dream.css);
@import url(animism.css);
@import url(hug.css);

:root {
    scrollbar-color: #fe0000 white;
    scrollbar-width: thin;
}

body {
    background-color: white;
    color: black;
    font-family: "Redaction", "汉仪玄宋", serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0 5rem 5rem;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: clip;
}

footer {
    margin: 3rem 0 0 12rem;
}

footer a {
    color: black;
}

footer a:visited {
    color: red;
}

@media (max-width: 60rem) {
    nav {
        background-color: #FFFFFFDD;
        transition: width .5s ease;
        width: 2px;
        z-index: 1;
    }

    nav:hover {
        width: 10rem;
    }

    nav + main {
        margin-left: calc(2px + 1rem);
    }

    footer {
        margin-left: calc(2px + 1rem);
    }
}
