body {
    background-color: white;
    color: black;
    font-family: "Crimson Text", "Noto Serif SC", serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 5rem;
}

@keyframes grow-down {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes move-right {
    100% {
        transform: translateX(0);
    }
}

nav {
    bottom: 5rem;
    min-height: 15rem;
    overflow: hidden;
    position: fixed;
    top: 5rem;
    user-select: none;
    width: 10rem;
}

nav::before {
    animation: grow-down 1s ease forwards;
    background-color: black;
    content: "";
    position: absolute;
    width: 2px;
}

nav ul {
    animation: move-right .5s ease .5s forwards;
    height: calc(100% - 3rem);
    margin: 1.5rem 0;
    padding-left: 1.5rem;
    position: relative;
    transform: translateX(-100%);
}

nav li > a {
    display: inline-block;
    height: 2rem;
}

nav li > ul {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: .3s ease;
}

nav li a:focus + ul {
    max-height: calc(2rem * var(--list-length));
}

nav li {
    list-style: none;
}

nav > ul > li:last-child {
    bottom: 0;
    position: absolute;
}

nav a {
    color: black;
    position: relative;
    text-decoration: none;
}

nav a::after {
    background-color: black;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: width .2s ease;
    width: 0;
}

nav a:hover::after {
    width: 100%;
}

nav + main {
    margin-left: 12rem;
    min-width: 30rem;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    align-items: end;
    gap: 1rem;
}

.main h1 {
    font-size: 6rem;
    line-height: 1;
    margin: 0;
    margin-left: auto;
    overflow: hidden;
    position: relative;
}

.main h1 sup {
    font-family: "VT323", monospace;
    font-size: 1.5rem;
    font-weight: 400;
}

.main h1::after {
    animation: move-right .5s ease .5s forwards;
    background-color: white;
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    width: 100%;
}

.main div img {
    height: 100%;
    width: 100%;
}

figure {
    margin: 0;
}

div:has(img) {
    overflow: hidden;
    position: relative;
}

div:has(img)::after {
    animation: move-right .5s ease .5s forwards;
    background-color: white;
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    width: 100%;
}

.art-collection {
    gap: 2rem;
}

.art-collection > figure {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.art-collection figure img {
    height: 20rem;
}

.art-collection figure figcaption {
    overflow: hidden;
    position: relative;
}

.art-collection figure figcaption::after {
    animation: move-right .5s ease forwards;
    background-color: white;
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    width: 100%;
}

.art-collection figure figcaption:first-of-type {
    align-self: start;
    padding-top: 3rem;
}

.art-collection figure figcaption:last-of-type {
    align-self: end;
    padding-bottom: 3rem;
}

.art-collection figure > div:has(img)::after,
.art-collection figure figcaption::after {
    animation-delay: 0s;
    animation-play-state: paused;
}

.art-collection figure.visible > div:has(img)::after,
.art-collection figure.visible figcaption::after {
    animation-play-state: running;
}

footer {
    margin: 3rem 0 0 12rem;
}

footer a {
    color: black;
}

footer a:visited {
    color: red;
}

@media (max-width: 60rem) {
    nav {
        background-color: #FFFFFFDD;
        transition: width .5s ease;
        width: 2px;
        z-index: 1;
    }

    nav:hover {
        width: 10rem;
    }

    nav + main {
        margin-left: calc(2px + 1rem);
    }

    .art-collection > figure {
        flex-direction: column;
    }

    footer {
        margin-left: calc(2px + 1rem);
    }
}
