@import url(nav.css);
@import url(title.css);

body {
    background-color: white;
    color: black;
    font-family: "Redaction", "Noto Serif SC", serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 5rem;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.art-collection figure {
    margin: 0;
}

.art-collection div:has(img) {
    overflow: hidden;
    position: relative;
}

.art-collection div:has(img)::after {
    animation: move-right .5s ease .5s forwards;
    background-color: white;
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    width: 100%;
}

.art-collection {
    gap: 2rem;
}

.art-collection > figure {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.art-collection figure img {
    height: 20rem;
}

.art-collection figure figcaption {
    overflow: hidden;
    position: relative;
}

.art-collection figure figcaption::after {
    animation: move-right .5s ease forwards;
    background-color: white;
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    width: 100%;
}

.art-collection figure figcaption:first-of-type {
    align-self: start;
    padding-top: 3rem;
}

.art-collection figure figcaption:last-of-type {
    align-self: end;
    padding-bottom: 3rem;
}

.art-collection figure > div:has(img)::after,
.art-collection figure figcaption::after {
    animation-delay: 0s;
    animation-play-state: paused;
}

.art-collection figure.visible > div:has(img)::after,
.art-collection figure.visible figcaption::after {
    animation-play-state: running;
}

footer {
    margin: 3rem 0 0 12rem;
}

footer a {
    color: black;
}

footer a:visited {
    color: red;
}

@media (max-width: 60rem) {
    nav {
        background-color: #FFFFFFDD;
        transition: width .5s ease;
        width: 2px;
        z-index: 1;
    }

    nav:hover {
        width: 10rem;
    }

    nav + main {
        margin-left: calc(2px + 1rem);
    }

    .art-collection > figure {
        flex-direction: column;
    }

    footer {
        margin-left: calc(2px + 1rem);
    }
}
