@font-face {
  font-display: swap;
  font-family: "Noto Sans Symbols 2";
  font-style: normal;
  font-weight: 400;
  src: url("./Noto Sans Symbols 2.woff2") format("woff2");
  unicode-range: U+2800-28FF;
}
